<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>casadocodigo</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<context-param>
		<param-name>org.omnifaces.CACHE_SETTING_APPLICATION_TTL</param-name>
		<param-value>300</param-value>
	</context-param>

	<security-constraint>
		<display-name>Administracao Admin</display-name>
		<web-resource-collection>
			<web-resource-name>administrador</web-resource-name>
			<description>Segurança para as urls que levam a administracao da aplicação</description>
			<url-pattern>/livros/usuario.xhtml</url-pattern>
			<url-pattern>/livros/listaUsuarios.xhtml</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ADMIN</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Administracao Usuario</display-name>
		<web-resource-collection>
			<web-resource-name>usuario</web-resource-name>
			<description>Segurança para as urls que levam a administracao da aplicação</description>
			<url-pattern>/livros/form.xhtml</url-pattern>
			<url-pattern>/livros/lista.xhtml</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>USER</role-name>
		</auth-constraint>
	</security-constraint>
	
	
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>
				/usuarios/login.xhtml
			</form-login-page>
			<form-error-page>
				/usuarios/login.xhtml
			</form-error-page>
		</form-login-config>
	</login-config>





</web-app>